.marg{
    margin-top: 100px;
    margin-left: 20px; 
    margin-right: 20px;
 }

body{
    background-color: rgb(243, 184, 163);
    color: #211e1e;
}

.weather{
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,3);
}

.card{
    max-width: flex;
    padding: 20px 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: #46caf2;
    text-transform: capitalize;
}

.img-weather img{
    max-width: 60px;
    border-radius: 50%;
}


